.calculator {
  width: 100%;
  max-width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  font-size: 25px;
  box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.3);

  @media (max-height: 569px) {
    margin: auto auto 30px;
  }

  .display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    min-height: 90px;
    border: 1px solid rgba(0,0,0,0.075);
    font-size: 50px;
    outline: none;

    &-inner {
      padding: 15px 20px;
      position: absolute;
      right: 0;
      transform-origin: right;
    }
  }

  .keypad {
    display: flex;
    flex-wrap: wrap;

    &-top, &-bottom {
      display: flex;
    }

    &-left {
      width: 75%;
    }

    &-right {
      width: 25%;
    }
  }
}
