.key {
  width: 70px;
  height: 70px;
  position: relative;
  border: 1px solid rgba(0,0,0,0.075);
  padding: 15px;
  outline: none;
  transition: 300ms all ease-in-out;

  &-wide {
    width: 140px;
  }

  &-full {
    width: 280px;
  }

  &-equals {
    background-color: $equals !important;

    &:hover, &:active, &:focus {
      background-color: darken($equals, 5) !important;
    }
  }

  .digit-keys & {
    background-color: $digit;

    &:hover, &:active, &:focus {
      background-color: darken($digit, 3.5);
    }
  }

  .function-keys & {
    background-color: $function;

    &:hover, &:active, &:focus {
      background-color: darken($function, 5);
    }
  }

  .operator-keys & {
    background-color: $operator;

    &:hover, &:active, &:focus {
      background-color: darken($operator, 5);
    }
  }

  .variable-keys & {
    background-color: $variable;

    &:hover, &:active, &:focus {
      background-color: darken($variable, 5);
    }
  }
}
