@import 'variables.scss';
@import 'normalize.scss';
@import 'calculator.scss';
@import 'key.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $bg;
  color: $text;
}

#root {
  display: flex;
  padding: 30px 15px;
}

.hidden {
  display: none;
}
